RewriteEngine On
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^ index.php [QSA,L]
<IfModule mod_php.c>
    php_value upload_max_filesize 2G
    php_value post_max_size 2G
</IfModule>
LimitRequestBody 2147483648